@charset "utf-8";
@import url(//fonts.googleapis.com/earlyaccess/notosansjapanese.css);
/* @import url('https://fonts.googleapis.com/css2?family=Sawarabi+Gothic&display=swap'); */
/* @import url('https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@100;300;400;500;700;900&display=swap'); */
/*------------------------------------------------------------
  reset
------------------------------------------------------------*/
html, body, div, span, h1, h2, h3, h4, h5, h6, p, a, font, strong, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, tbody, tfoot, thead, tr, th, td {
	border: 0;
	font-family: inherit;
	font-family: 'Noto Sans JP', sans-serif;
	/* font-size: 100%; */
	font-size: 12px; 
	font-style: inherit;
	font-weight: inherit;
	margin: 0;
	outline: 0;
	padding: 0;
	vertical-align: baseline;
}

ul, li, p, dl, dd {
	padding: 0;
	margin: 0;
	list-style: none;
}

html {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	font-size: 62.5%;
	-webkit-text-size-adjust: 100%;
	-ms-text-size-adjust: 100%;
	-webkit-appearance: none;
}

*, *:before, *:after {
	-webkit-box-sizing: inherit;
	-moz-box-sizing: inherit;
	box-sizing: inherit;
}

body {
	background: #f8f8ed;
	overflow-x: hidden;
}

article, aside, details, footer, header, main, nav, section {
	display: block;
}

a:focus, a:hover, a:active {
	outline: 0;
}

a img {
	border: 0;
}

.fadein {
    opacity : 0;
    transform: translateY(20px);
    transition: all 1s;
}
#page-top a {
    display: block;
    width: 45px;
    height: 45px;
    font-size: 10px;
    color: #231815;
    text-align: center;
    text-decoration: none;
	padding: 13px 0 0 0;
	border: 1px solid #231815;
    background: #f8f8ed;
    transition: .5s;
    right: 20px;
    bottom: 20px;
    position: fixed;
}
#page-top a:hover {
	color: #fff;
	border: 1px solid #fff;
    background: #231815;
}

/*------------------------------------------------------------
  typography
------------------------------------------------------------*/
body, button, input, select, textarea {
	color: #333;
	font-family: Noto Sans Japanese, "ヒラギノ角ゴ Pro W3", "Hiragino Kaku Gothic Pro", "メイリオ", Meiryo, Osaka, "ＭＳ Ｐゴシック", "MS PGothic", sans-serif;
	line-height: 1.6;
}

h1, h2, h3, h4, h5, h6 {
	clear: both;
	font-weight: 700;
}

p {
	font-size: 13px;
	font-size: 1.3rem;
	line-height: 1.6;
	margin-bottom: 1.1em;
	word-wrap: break-word;
}

b, strong {
	font-weight: 700;
}

b {
	color: #b81c26;
	font-size: 16px;
}

#nav ul li:first-child a, #nav-sp h1 a {
	text-indent: -9999px;
}

.twitter:before, .facebook:before, .instagram:before, .line:before {
	display: inline-block;
	font: normal normal normal 14px/1 FontAwesome;
	font-size: inherit;
	text-rendering: auto;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

/*------------------------------------------------------------
  elements
------------------------------------------------------------*/
table {
	border-collapse: collapse;
	border-spacing: 0;
	border-width: 0;
	/* table-layout: fixed; */
	/* Prevents HTML tables from becoming too wide */
	width: 100%;
}

th {
	font-weight: 700;
	white-space: nowrap;
	text-align: left;
}

img {
	-ms-interpolation-mode: bicubic;
	border: 0;
	height: auto;
	max-width: 100%;
	vertical-align: middle;
}

a {
	text-decoration: none;
}

.fade {
	transition: .25s;
}

.fade:hover {
	opacity: .7;
}

/*------------------------------------------------------------
  clearings
------------------------------------------------------------*/
.clearfix:before, .clearfix:after {
	content: "";
	display: table;
}

.clearfix:after {
	clear: both;
}

/*------------------------------------------------------------
  #header
------------------------------------------------------------*/
#header {
	position: relative;
	z-index: 10;
	position: fixed;
	width: 100%;
	background-image: url(/img/common/bg-nav.svg);
	background-position: 0 bottom;
	border-top: 5px solid #231815;
}

#nav {
	margin: 0 auto;
	max-width: 800px;
	height: 80px;
	position: relative;
}

#nav h1 {
	display: inline-block;
}

#nav h1 a {
	height: 80px;
	display: table-cell;
	vertical-align: middle;
}

#nav .contact {
	position: absolute;
	right: 0;
	top: 26px;
	transition: .2s;
	background: #ffffff;
	/* Old browsers */
	background: -moz-linear-gradient(top, #ffffff 1%, #bbbbbb 100%);
	/* FF3.6-15 */
	background: -webkit-linear-gradient(top, #ffffff 1%,#bbbbbb 100%);
	/* Chrome10-25,Safari5.1-6 */
	background: linear-gradient(to bottom, #ffffff 1%,#bbbbbb 100%);
	/* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#000000',GradientType=0 );
	/* IE6-9 */
}

#nav .contact:hover {
	opacity: .85;
}

/*------------------------------------------------------------
	wrapper
------------------------------------------------------------*/
#wrapper {
	width: 100%;
	padding-top: 80px;
	min-height: 81vh;
}

#column_wrap {
	max-width: 800px;
	padding-top: 25px;
	margin: 0 auto;
	position: relative;
}

.bc_home #column_wrap {
	max-width: 730px;
}

#page_error {
	font-size: 16px;
}

/*------------------------------------------------------------
	#single_col
------------------------------------------------------------*/
#single_col {
	padding-top: 10px;
}

.bc_home #single_col {
	padding-top: 20px;
}

#single_col h2 {
	color: #192f60;
	font-size: 24px;
	margin-bottom: 10px;
}

.shop_information {
	width: 95%;
	margin: 0 auto 3em;
	padding: 3em;
	background: #fff;
	border: 5px solid #d2d7e2;
}

.shop_information h3 {
	width: 19em;
	padding-bottom: .1em;
	margin: 0 auto .7em;
	color: #192f60;
	font-size: 22px;
	font-weight: normal;
	line-height: 1;
	text-align: center;
	border-bottom: 1px solid #192f60;
}

.shop_information p {
	margin: 0;
}

/*------------------------------------------------------------
	breadcrumb
------------------------------------------------------------*/
.breadcrumb {
	margin-bottom: 20px;
	border-bottom: 1px dotted #808080;
	font-size: 13px;
}

.breadcrumb a {
	color: #333;
	transition: .25s;
}

.breadcrumb a:hover {
	color: #f39b00;
}

.breadcrumb :last-child {
	font-weight: bold;
}

.breadcrumb .spacer {
	margin: 0 .5em;
	font-weight: normal;
}

/*------------------------------------------------------------
	footer
------------------------------------------------------------*/
#footer {
	background-color: #231815;
	margin-top: 80px;
	text-align: center;
	padding: 0 0 45px 0;
}

#footer .license {
	background-color: #f8f8ed;
	padding: .5em 0;
	border-top: 1px solid #231815;
	font-size: 11px;
	font-weight: 500;
	letter-spacing: 0.5px;
}

#footer_nav_wrap {
	max-width: 800px;
	margin: 0 auto;
	padding: 20px 0;
}

#footer_nav_wrap .footer_nav li {
	display: inline-block;
	margin: 0 1.5em .5em;
}

#footer_nav_wrap .footer_nav li a {
	color: #fff;
	font-size: 13px;
	font-weight: bold;
	transition: .25s;
}

#footer_nav_wrap .footer_nav li a:hover {
	color: #f39b00;
}

#footer_nav_wrap .footer_nav2 li {
	display: inline-block;
	margin: 0 1.5em .5em;
}

#footer_nav_wrap .footer_nav2 li a {
	color: #fff;
	font-size: 13px;
	font-weight: bold;
	transition: .25s;
}

#footer_nav_wrap .footer_nav2 li a:hover {
	color: #f39b00;
}

#footer_nav_wrap .franchise {
	color: #fff;
	font-size: 13px;
	font-weight: bold;
	transition: .25s;
}

#footer_nav_wrap .franchise:hover {
	color: #f39b00;
}

#footer_nav_wrap .corporation_info, 
#footer_nav_wrap .corporation_info a {
	margin: 20px 0 10px;
	color: rgb(160, 160, 160);
	font-size: 11px;
	letter-spacing: 0.5px;
}

#footer_nav_wrap .corporation_info span {
	margin-left: 1em;
}

#footer_nav_wrap .copy {
	color: rgb(160, 160, 160);
	font-size: 10px;
}

#footer_nav_wrap .footer_nav li.franchise a {
	font-size: 12px;
	font-family: 'Sawarabi Gothic', sans-serif;
	text-decoration: none;
	letter-spacing: 0.5px;
	display: block;
	padding: 5px;
	box-sizing: border-box;
}

/* franchise-box */
.franchise-box {
	font-size: 12px;
	font-family: 'Noto Serif JP', serif;
	line-height: 18px;
	text-align: center;
	color: #fff;
	width: 170px;
	padding: 20px;
	border: 1px solid #fff;
	border-radius: 5px;
	background: #192f60;
	right: 50px;
	bottom: 50px;
	position: fixed;
	box-sizing: border-box;
}
.franchise-box a {
	display: block;
	font-size: 11px;
	color: #192f60;
	width: 100%;
	margin: 15px 0 0 0;
	padding: 10px;
	background: #fff;
}
.franchise-box img {
	width: 18px;
	height: 18px;
	top: -8px;
	right: -8px;
	position: absolute;
}

#acd-check1,.acd-label,.acd-content {
	display: none;
}

/*------------------------------------------------------------
	snsShare
------------------------------------------------------------*/
.snsShare {
	margin: 24px;
	position: fixed;
	bottom: 0;
	right: 0;
	z-index: 1000;
}
.snsShare:hover .shareIcon:not(:last-child) {
	opacity: 1;
	width: 50px;
	height: 50px;
	margin: 8px auto;
}
.shareIcon:not(:last-child) {
	width: 50px;
	height: 50px;
	opacity: 0;
}
.share {
	display: block;
	color: #fff;
	width: 60px;
	height: 60px;
	border-radius: 50%;
	background: #a21f24;
}
.share img {
	width: 60px;
    height: 60px;
	transition: .5s;
}
.share img:hover {
	transform: rotate(-360deg);
	opacity: .5;
}
.shareIcon {
	display: block;
	color: #fff;
	border-radius: 50%;
}
.shareIcon .twShare {
	display: block;
	width: 18px;
	margin: 0 auto;
	position: relative;
	top: 20px;
	transition: .5s;
}
.shareIcon .fbShare {
	display: block;
	width: 8px;
	margin: 0 auto;
	position: relative;
	top: 18px;
	transition: .5s;
}
.shareIcon .twShare:hover,
.shareIcon .fbShare:hover {
	opacity: .5;
	transform: rotate(-360deg);
}
.shareIcon.indigo {
	background: #3F51B5;
}
.shareIcon.light-blue {
	background: #03A9F4;
}
.shareIcon.green {
	background: #4CAF50;
}
[tooltip]:before {
	font-weight: 500;
	-webkit-border-radius: 2px;
	-moz-border-radius: 2px;
	border-radius: 2px;
	background-color: #585858;
	color: #fff;
	content: attr(tooltip);
	font-size: 12px;
	visibility: hidden;
	opacity: 0;
	padding: 5px 7px;
	margin-right: 10px;
	position: absolute;
	right: 100%;
	bottom: 5%;
	white-space: nowrap;
}
[tooltip]:hover:before,
[tooltip]:hover:after {
	visibility: visible;
	opacity: 1;
}

/*------------------------------------------------------------
	PC
------------------------------------------------------------*/
.pc {
	display: block;
}

.sp {
	display: none;
}

/*------------------------------------------------------------
	smartphone
------------------------------------------------------------*/
@media screen and (max-width: 767px) {
	/*------------//// common ////------------*/
	.sp {
		display: block;
	}

	.pc {
		display: none !important;
	}

	/*------------//// wrapper ////------------*/
	#wrapper {
		padding-top: 55px;
	}

	#column_wrap {
		padding-top: 0;
	}

	/*------------//// #nav ////------------*/
	#header {
		border-top-width: 3px;
		background-position: center bottom;
	}

	#nav {
		height: 52px;
		padding: 0 5%;
	}

	#nav h1 a {
		width: 42vw;
		max-width: 186px;
		height: 52px;
	}

	#nav .contact {
		display: none;
		position: absolute;
		right: 5%;
		top: 18px;
		width: 30vw;
		max-width: 135px;
	}

	/*------------//// breadcrumb ////------------*/
	.breadcrumb {
		padding: .5em;
		margin-bottom: 0;
		font-size: 10px;
	}

	.breadcrumb :nth-last-child(4), .breadcrumb :nth-last-child(5) {
		display: none;
	}

	.breadcrumb .spacer {
		margin: 0 .3em;
	}

	/*------------//// #single_col ////------------*/
	#single_col {
		padding: 5% 5% 0;
	}

	#single_col h2 {
		font-size: 16px;
	}

	.shop_information {
		width: 95%;
		margin: 0 auto 3em;
		padding: 2.1em;
		background: #fff;
		border: 5px solid #d2d7e2;
		width: 100%;
		max-height: 50vh;
		overflow: scroll;
		-webkit-overflow-scrolling: touch;
	}

	.shop_information h3 {
		width: 80%;
		min-width: 17em;
		line-height: 1.3;
		font-size: 16px;
		margin-bottom: .8em;
	}
	@media screen and (max-width: 350px) {
		.shop_information h3 {
			width: 11em;
			min-width: initial;
		}
	}

	.shop_information p {
		font-size: 11px;
	}

	/*------------//// footer ////------------*/
	#footer .license {
		font-weight: normal;
		padding: 1em 5%;
	}

	#footer_nav_wrap {
		padding: 0 0 56px 0;
	}

	#footer_nav_wrap .footer_nav {
		margin: 0 0 24px 0;
	}

	#footer_nav_wrap .footer_nav2 {
		display: none;
	}
	
	#footer_nav_wrap .footer_nav2 li a:hover {
		color: #f39b00;
	}

	#footer_nav_wrap .footer_nav {
		margin: 10px 0 0 0;
	}

	#footer_nav_wrap .footer_nav li {
		margin: 0;
		padding: 10px;
	}

	#footer_nav_wrap .bottom_nav {
		display: flex;
		justify-content: center;
		align-items: baseline;
		padding: 12px 12px 32px;
		background: #fff;
		border-top: 1px solid #eee;
		position: fixed;
		right: 0;
		bottom: 0;
		left: 0;
	}

	#footer_nav_wrap .bottom_nav li {
		display: block;
		margin: 0 24px;
	}

	#footer_nav_wrap .footer_nav li.franchise a {
		font-size: 12px;
	}

	#footer_nav_wrap .corporation_info {
		font-size: 10.5px;
	}

	#footer_nav_wrap .corporation_info span {
		margin-left: 0;
	}

	#footer_nav_wrap .copy {
		font-size: 10px;
	}

	#footer_nav_wrap .franchise {
		display: block;
		margin: 10px 0 0 0;
	}

	.franchise-box {
		width: 100%;
		padding: 20px;
		border: none;
		border-radius: 0;
		position: unset;
	}
	.franchise-box .pc {
		display: none;
	}
	.franchise-box a {
		display: block;
		font-size: 11px;
		color: #c2000b;
		width: 100%;
		margin: 10px auto;
		padding: 10px;
		background: #fff;
	}
	.franchise-box img {
		display: none;
	}

	.snsShare {
		bottom: 16px;
	}
}

/*------------------------------------------------------------
	tablet
------------------------------------------------------------*/
@media screen and (min-width: 768px) and (max-width: 819px) {
	#column_wrap {
		padding-top: 0;
	}
	#single_col {
		padding: 0 2%;
	}
	#nav {
		padding: 0 2%;
	}
	#nav .contact {
		right: 2%;
	}
	.breadcrumb {
		padding: 1em 2% .5em;
	}

	.franchise-box {
		width: 100%;
		padding: 20px;
		border: none;
		border-radius: 0;
		position: unset;
	}
	.franchise-box .pc {
		display: none;
	}
	.franchise-box a {
		display: block;
		font-size: 11px;
		color: #c2000b;
		width: 30%;
		margin: 10px auto;
		padding: 10px;
		background: #fff;
	}
	.franchise-box img {
		display: none;
	}
}
