.salesInfo {
    margin: 70px auto;
    width: calc(100% - 80px);
    .detail {
        
    }

    @media screen and (min-width:768px) {

    }
    @media screen and (min-width:1024px) {
        margin: 100px auto;
        width: 810px;
        .detail {
            
        }
    }
}