.sales {
  margin: 70px auto;
  width: calc(100% - 80px);
}

.sales .detail {
  margin: 48px 0 0 0;
}

.sales .detail .cover {
  width: 56%;
  height: auto;
  margin: 0 auto;
  position: relative;
}

.sales .detail .cover .coverImage {
  width: 100%;
  height: auto;
  -webkit-filter: drop-shadow(0 0 10px rgba(0, 0, 0, 0.1));
          filter: drop-shadow(0 0 10px rgba(0, 0, 0, 0.1));
}

.sales .detail .cover .infoIcon {
  width: 120px;
  height: 120px;
  position: absolute;
  right: -64px;
  bottom: -64px;
}

.sales .detail .medium {
  margin: 80px 0 0 0;
}

.sales .detail .medium .bookInfo {
  margin: 0 0 20px 0;
  padding: 32px 20px;
  border-radius: 4px;
  background: #EAE7D6;
  -webkit-box-shadow: inset 0 0 20px rgba(177, 173, 153, 0.3);
          box-shadow: inset 0 0 20px rgba(177, 173, 153, 0.3);
}

.sales .detail .medium .bookInfo .name {
  margin: 0 0 12px 0;
}

.sales .detail .medium .bookInfo .name .logo {
  width: 104px;
  height: auto;
}

.sales .detail .medium .bookInfo .name span {
  font-size: 13px;
  font-weight: bold;
}

.sales .detail .medium .bookInfo .available {
  margin: 0 0 12px 0;
}

.sales .detail .medium .bookInfo .available h3 {
  text-align: center;
  font-size: 12px;
  font-weight: bold;
  color: #fff;
  margin: 0 0 8px 0;
  padding: 6px 6px 4px;
  background: #B9222A;
}

.sales .detail .medium .bookInfo .available p {
  text-align: center;
  font-size: 13px;
  font-weight: bold;
  color: #B9222A;
}

.sales .detail .medium .bookInfo .info {
  margin: 0 0 12px 0;
}

.sales .detail .medium .bookInfo .info dl {
  font-size: 12px;
  line-height: 2;
}

.sales .detail .medium .bookInfo .info dl dt {
  font-weight: bold;
  width: 90px;
  margin: 0 16px 0 0;
}

.sales .detail .medium .bookInfo .info dl dd {
  margin: 0 0 12px 0;
}

.sales .detail .medium .bookInfo .btnWrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.sales .detail .medium .bookInfo .btnWrap .btn {
  width: 32%;
  padding: 14px 10px 5px;
  border-radius: 2px;
  background: #485990;
  position: relative;
}

.sales .detail .medium .bookInfo .btnWrap .btn .btnText {
  width: auto;
  height: 9px;
}

.sales .detail .medium .bookInfo .btnWrap .btn .btnArrow {
  width: 5px;
  height: auto;
  position: absolute;
  top: 0;
  right: 5px;
  bottom: 0;
  margin: auto;
}

.sales .detail .medium .bookInfo .btnWrap .orange {
  background: #D97F3F;
}

.sales .detail .medium .bookInfo .btnWrap .inactive {
  opacity: .3;
}

.sales .detail .medium .questionnaireBanner {
  display: block;
  margin: 0 0 40px 0;
}

.sales .detail .medium .questionnaireBanner .bannerImage {
  width: 100%;
  height: auto;
}

.sales .detail .medium .lead {
  margin: 0 0 40px 0;
}

.sales .detail .medium .lead h3 {
  margin: 0 0 20px 0;
}

.sales .detail .medium .lead h3 .eyecatchImage {
  width: auto;
  height: 17px;
}

.sales .detail .medium .lead p {
  text-align: justify;
  font-size: 12px;
  line-height: 1.6;
}

.sales .detail .medium .sns {
  margin: 0 0 40px 0;
}

.sales .detail .medium .sns h3 {
  font-size: 13px;
  margin: 0 0 20px 0;
}

.sales .detail .medium .sns .snsItems {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.sales .detail .medium .sns .snsItems .snsItem {
  display: block;
  text-align: center;
  width: 24%;
  margin: 0 1% 0 0;
  padding: 18px 0;
  border: 1px solid #000;
  border-radius: 8px;
}

.sales .detail .medium .sns .snsItems .snsItem img {
  display: block;
  width: auto;
  height: 16px;
  margin: 0 auto 8px;
}

.sales .detail .medium .sns .snsItems .snsItem span {
  display: block;
  font-size: 10px;
}

.sales .detail .medium .contest {
  margin: 0 0 40px 0;
}

.sales .detail .medium .contest .contestImage {
  width: 100%;
  height: auto;
  margin: 0 0 12px 0;
}

.sales .detail .medium .contest p {
  text-align: justify;
  font-size: 12px;
  line-height: 1.6;
}

.sales .detail .medium .questionnaire h2 {
  text-align: center;
  margin: 0 0 20px 0;
}

.sales .detail .medium .questionnaire h2 .secTitleImage {
  width: auto;
  height: 48px;
}

.sales .detail .medium .questionnaire h4 {
  text-align: center;
  font-size: 12px;
  line-height: 1.5;
  font-weight: bold;
  color: #B9222A;
  margin: 0 0 20px 0;
  padding: 8px 8px 10px;
  border: 1px solid #B9222A;
}

.sales .detail .medium .questionnaire strong {
  display: block;
  text-align: justify;
  font-size: 14px;
  line-height: 1.5;
  margin: 0 0 20px 0;
}

.sales .detail .medium .questionnaire p {
  text-align: justify;
  font-size: 12px;
  line-height: 1.6;
  margin: 0 0 20px 0;
}

.sales .detail .medium .questionnaire .linkBtn {
  text-align: center;
  display: block;
  font-size: 11px;
  width: 216px;
  margin: 0 auto;
  padding: 18px;
  border: 1px solid #000;
  position: relative;
}

.sales .detail .medium .questionnaire .linkBtn img {
  width: 6px;
  height: auto;
  position: absolute;
  top: 0;
  right: 24px;
  bottom: 0;
  margin: auto;
}

@media screen and (min-width: 768px) {
  .sales .detail {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    margin: 20px 0 0 0;
  }
  .sales .detail .cover {
    width: 28%;
    height: auto;
    margin: 0;
    position: -webkit-sticky;
    position: sticky;
    height: 100vh;
    top: 120px;
  }
  .sales .detail .cover .coverImage {
    margin: 0 0 20px 0;
  }
  .sales .detail .cover .infoIcon {
    width: 100%;
    height: auto;
    position: static;
    right: 0;
    bottom: 0;
  }
  .sales .detail .medium {
    width: 64%;
    margin: 18px 0 0 0;
  }
}

@media screen and (min-width: 1024px) {
  .sales {
    margin: 100px auto;
    width: 810px;
  }
  .sales .detail .cover {
    width: 200px;
  }
  .sales .detail .medium {
    width: 520px;
    margin: 0;
  }
  .sales .detail .medium .bookInfo {
    margin: 0 0 40px 0;
    padding: 40px;
  }
  .sales .detail .medium .bookInfo .name {
    margin: 0 0 18px 0;
  }
  .sales .detail .medium .bookInfo .name .logo {
    width: 140px;
  }
  .sales .detail .medium .bookInfo .name span {
    font-size: 18px;
    position: relative;
    top: 4px;
  }
  .sales .detail .medium .bookInfo .available {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .sales .detail .medium .bookInfo .available h3 {
    font-size: 14px;
    margin: 0 12px 0 0;
    padding: 6px 18px 4px;
  }
  .sales .detail .medium .bookInfo .available p {
    font-size: 16px;
  }
  .sales .detail .medium .bookInfo .info dl {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    font-size: 14px;
    line-height: 1.7;
  }
  .sales .detail .medium .bookInfo .info dl dt {
    width: 164px;
    margin: 0 16px 0 0;
  }
  .sales .detail .medium .bookInfo .info dl dd {
    width: 100%;
    margin: 0 0 4px 0;
  }
  .sales .detail .medium .bookInfo .btnWrap .btn {
    padding: 16px 30px 10px;
  }
  .sales .detail .medium .bookInfo .btnWrap .btn .btnText {
    height: 12px;
  }
  .sales .detail .medium .bookInfo .btnWrap .btn .btnArrow {
    width: 5px;
    right: 12px;
  }
  .sales .detail .medium .questionnaireBanner {
    margin: 0 0 80px 0;
  }
  .sales .detail .medium .lead h3 {
    margin: 0 0 32px 0;
  }
  .sales .detail .medium .lead h3 .eyecatchImage {
    height: 32px;
  }
  .sales .detail .medium .lead p {
    font-size: 13px;
    line-height: 1.7;
  }
  .sales .detail .medium .sns {
    margin: 0 0 80px 0;
  }
  .sales .detail .medium .sns h3 {
    font-size: 16px;
  }
  .sales .detail .medium .sns .snsItems .snsItem {
    padding: 40px 0;
  }
  .sales .detail .medium .sns .snsItems .snsItem img {
    height: 24px;
    margin: 0 auto 12px;
  }
  .sales .detail .medium .sns .snsItems .snsItem span {
    font-size: 12px;
  }
  .sales .detail .medium .contest {
    margin: 0 0 80px 0;
  }
  .sales .detail .medium .contest p {
    font-size: 13px;
    line-height: 1.7;
  }
  .sales .detail .medium .questionnaire h2 {
    margin: 0 0 40px 0;
  }
  .sales .detail .medium .questionnaire h2 .secTitleImage {
    height: 48px;
  }
  .sales .detail .medium .questionnaire h4 {
    font-size: 13px;
    margin: 0 0 28px 0;
    padding: 12px;
  }
  .sales .detail .medium .questionnaire strong {
    font-size: 16px;
    line-height: 1.6;
    margin: 0 0 28px 0;
  }
  .sales .detail .medium .questionnaire p {
    font-size: 13px;
    line-height: 1.7;
    margin: 0 0 28px 0;
  }
  .sales .detail .medium .questionnaire .linkBtn {
    width: 240px;
    padding: 20px;
  }
}
/*# sourceMappingURL=sales.css.map */