.salesList {
  margin: 70px auto;
  width: calc(100% - 80px);
}

.salesList .googleMap {
  margin: 48px 0 0 0;
}

.salesList .googleMap iframe {
  width: 100%;
  height: 240px;
  border: none;
}

.salesList .googleMap p {
  text-align: center;
  font-size: 13px;
  padding: 20px;
  border: 1px solid #000;
}

.salesList .shopInfo {
  margin: 48px 0 0 0;
  padding: 40px 20px;
  background: #fff;
  border-radius: 4px;
}

.salesList .shopInfo h3 {
  text-align: center;
  font-size: 14px;
  line-height: 1;
  margin: 0 0 24px 0;
  padding: 0 0 12px 0;
  border-bottom: 1px dashed #707070;
}

.salesList .shopInfo p {
  text-align: justify;
  font-size: 13px;
  line-height: 1.5;
}

.salesList .detail {
  margin: 48px 0 0 0;
  padding: 0;
  border-radius: 4px;
  background: #fff;
}

.salesList .detail table {
  width: 100%;
  border-collapse: collapse;
}

.salesList .detail table tbody tr th, .salesList .detail table tbody tr td {
  display: block;
}

.salesList .detail table tbody tr th {
  width: 100%;
}

.salesList .detail table tbody tr th .title {
  font-size: 12px;
  line-height: 1;
  color: #fff;
  padding: 10px;
  background: #3B7C4D;
}

.salesList .detail table tbody tr:first-child th .title {
  border-radius: 4px 4px 0 0;
}

.salesList .detail table tbody tr td .innerTd {
  width: calc(100% - 40px);
  margin: 0 auto;
  padding: 20px 0;
  border-bottom: 1px solid #ccc;
}

.salesList .detail table tbody tr td .innerTd .tdTop {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 0 0 12px 0;
}

.salesList .detail table tbody tr td .innerTd .tdTop .page {
  font-size: 12px;
  line-height: 1;
  height: 23px;
  margin: 0 10px 0 0;
  padding: 4px 8px;
  border: 1px solid #000;
}

.salesList .detail table tbody tr td .innerTd .tdTop .name {
  font-size: 16px;
  font-weight: bold;
  line-height: 1.5;
}

.salesList .detail table tbody tr td .innerTd .tdBottom {
  font-size: 13px;
  line-height: 1.5;
  position: relative;
}

.salesList .detail table tbody tr td .innerTd .tdBottom .tag {
  text-align: center;
  font-size: 11px;
  line-height: 1;
  color: #fff;
  padding: 3px 8px;
  background: #ccc;
  position: absolute;
  bottom: 0;
  right: 0;
}

.salesList .detail table tbody tr td .innerTd .tdBottom .new {
  background: #B9222A;
}

.salesList .detail table tbody tr td .innerTd .tdBottom .revival {
  background: #3B7C4D;
}

.salesList .detail table tbody tr td .innerTd .tdBottom .extension span {
  font-weight: bold;
  color: #B9222A;
}

.salesList .detail table tbody tr td .innerTd .tdBottom .extension .calenderImage {
  width: 16px;
  height: auto;
  position: relative;
  top: 2px;
}

.salesList .detail table tbody tr td .innerTd .tdBottom .close {
  color: #B9222A;
}

.salesList .detail table tbody tr td .innerTd .tdBottom .info {
  margin: 12px 0 0 0;
  padding: 12px;
  border-radius: 4px;
  background: #F5EDEE;
}

.salesList .detail table tbody tr:last-child td .innerTd {
  border-bottom: none;
}

@media screen and (min-width: 768px) {
  .salesList .shopInfo {
    padding: 40px;
  }
  .salesList .detail table tbody tr th, .salesList .detail table tbody tr td {
    display: table-cell;
  }
  .salesList .detail table tbody tr th {
    width: 24%;
    vertical-align: top;
  }
  .salesList .detail table tbody tr th .title {
    font-size: 16px;
    padding: 80px 0;
  }
  .salesList .detail table tbody tr:first-child th .title {
    border-radius: 4px 0 0 0;
  }
  .salesList .detail table tbody tr td .innerTd {
    width: calc(100% - 80px);
    margin: 0 auto;
    padding: 24px 0;
  }
}

@media screen and (min-width: 1024px) {
  .salesList {
    margin: 100px auto;
    width: 810px;
  }
  .salesList .googleMap iframe {
    height: 450px;
  }
  .salesList .shopInfo {
    margin: 80px 0 0 0;
    padding: 80px;
  }
  .salesList .shopInfo h3 {
    font-size: 20px;
    margin: 0 0 32px 0;
    padding: 0 0 16px 0;
  }
  .salesList .shopInfo p {
    font-size: 16px;
    line-height: 1.7;
  }
  .salesList .detail table tbody tr th {
    width: 200px;
  }
  .salesList .detail table tbody tr td .innerTd .tdTop .page {
    font-size: 14px;
    height: 24px;
    margin: 0 20px 0 0;
    padding: 4px 12px;
  }
  .salesList .detail table tbody tr td .innerTd .tdTop .name {
    font-size: 20px;
    line-height: 1.3;
  }
  .salesList .detail table tbody tr td .innerTd .tdBottom {
    font-size: 16px;
  }
  .salesList .detail table tbody tr td .innerTd .tdBottom .tag {
    font-size: 13px;
    padding: 4px 8px;
  }
  .salesList .detail table tbody tr td .innerTd .tdBottom .info {
    padding: 16px 24px;
  }
}
/*# sourceMappingURL=shop_list.css.map */