@charset "utf-8";
pre { font-size: 12px; }
.preText {
    text-align: center;
    font-size: 12px;
    font-weight: 500;
    line-height: 1.7;
    color: #000;
    margin: 0 0 24px 0;
    padding: 24px;
    border-radius: 4px;
    background: #fff;
    span {
        display: block;
        font-size: 16px;
        color: red;
    }
    a {
        display: block;
        width: 200px;
        margin: 12px auto 0;
        padding: 8px;
        border: 1px solid #ccc;
        border-radius: 30px;
    }
}
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    font-family: sans-serif;
    color: #000;
    overflow-x: hidden;
    background: #F0F2E7;
}
p { 
    text-align: justify;
    font-weight: 400;
    letter-spacing: .5px;
}
a {
    font-weight: 400;
    color: #000;
    text-decoration: none;
    transition: .5s;
    &:hover {
        opacity: .5;
    }
}
ul li {
    list-style: none;
}
img {
	vertical-align: top;
}
.sp { display: block; }
.pc { display: none; }
@media screen and (min-width:768px) {
    .sp { display: none; }
    .pc { display: block; }
}
a.anchor {
    display: block;
    padding-top: 120px;
    margin-top: -120px;
}

// パンくずリスト
ul.bread {
    display: flex;
    align-items: center;
    li {
        font-size: 11px;
        margin: 0 20px 0 0;
        img {
            width: 5px;
            height: auto;
            position: relative;
            top: 2px;
        }
    }
}

// CVボタン
.cvbtn {
    display: block;
    text-align: center;
    font-size: 12px;
    line-height: 1;
    color: #fff;
    padding: 20px;
    border-radius: 30px;
    background: #1E2C4B;
    position: relative;
    img {
        width: 6px;
        height: auto;
        position: absolute;
        top: 0;
        right: 20px;
        bottom: 0;
        margin: auto;
    }
    @media screen and (min-width:768px) {
        width: 80%;
    }
    @media screen and (min-width:1024px) {
        width: 330px;
    }
}

// Webへの導入(1版のみボタン)
.webLink {
    display: block;
    text-align: center;
    font-size: 16px;
    line-height: 1;
    margin: 0 auto;
    width: 240px;
    background: #D25A46;
    color: #fff;
    padding: 20px;
    position: relative; 
    img {
        width: 6px;
        height: auto;
        position: absolute;
        top: 0;
        bottom: 0;
        right: 16px;
        margin: auto;
    }
}

// Webへの導入(アコーディオン)
.acd-check {
    display: none;
}
.acd-label {
    display: block;
    text-align: center;
    font-size: 13px;
    margin: 0 auto;
    width: 216px;
    background: #D25A46;
    color: #fff;
    padding: 16px;
    position: relative;
}
.acd-label:after {
    display: block;
    position: absolute;
    top: -8px;
    right: 16px;
    bottom: 0;
    margin: auto;
    content: "";
    width: 8px;
    height: 8px;
    border-bottom: 1px solid #fff;
    border-left: 1px solid #fff;
    transform: rotate(-45deg);
}
.acd-content {
    display: block;
    width: 216px;
    margin: 0 auto;
    height: 0;
    opacity: 0;
    transition: .5s;
    visibility: hidden;
    a {
        display: block;
        font-size: 13px;
        color: #D25A46;
        text-decoration: none;
        padding: 16px 24px;
        border: 1px solid #D25A46;
    }
}
.acd-check:checked + .acd-label + .acd-content {
    opacity: 1;
    visibility: visible;
    margin: 0 auto 48px;
}
.acd-check:checked + .acd-label:after {
    top: 0;
    transform: rotate(135deg);
}